.pokedex__body{
    position: relative;
    width: 80%;
    margin: auto;
    
}
.pokedex__tittle{
    margin-top:25px ;
    margin-bottom: 25px;
}
.name_trainer{
    
    color: #DD1A1A;
}
.pokedex__data{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.pokedex__input{
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

}
.pokedex__button{
    height: 40px;
    color: white;
    background-color: #DD1A1A;
}
.pokedex__list{
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

